@media screen and (min-width: 1024px) {
  /*styles for header*/

  .header {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 3fr 0.5fr;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background: white;
    gap: 1em;
  }

  .header__menu-small {
    display: none;
  }

  .header__logo {
    grid-column: 1;
    margin-left: 3vw;
  }

  .header__shop {
    grid-column: 2;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 1em;
    color: black;
  }

  .header__story {
    grid-column: 3;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 1em;
    color: black;
  }

  .header__blog {
    grid-column: 4;
    font-family: "Inter", sans-serif;
    margin-left: 1.5vw;
    text-decoration: none;
    font-size: 1em;
    color: black;
  }

  .header__pages {
    grid-column: 5;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 1em;
    color: black;
  }

  .header__shop:hover,
  .header__story:hover,
  .header__blog:hover,
  .header__pages:hover {
    text-decoration: underline;
  }

  .header__cart {
    grid-column: 6;
    margin-left: 22vw;
    font-family: "Inter", sans-serif;
  }

  .header__frame-image {
    grid-column: 7;
    margin-left: 0.5vw;
  }

  /*styles for 1 screen*/

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    background: #F5F5F5;
    width: 100vw;
    height: 100vh;
  }

  .imgface {
    grid-row: 1 / 9;
    grid-column: 2 / 4;
    max-width: 100%;
    max-height: 100vh;
    justify-self: end;
    margin-right: 5%;
  }

  .textpart1 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    z-index: 1;
    margin-left: 25%;
    align-self: start;
    margin-top: 2%;
    font-family: 'STSong', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 6vw;
    line-height: 10vh;
  }

  .textpart2 {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    z-index: 1;
    margin-left: 25%;
    margin-bottom: 5%;
    font-family: 'STSong', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 6vw;
    line-height: 10vh;
  }

  .textpart3 {
    grid-row: 5 / 7;
    grid-column: 2 / 3;
    z-index: 1;
    text-align: center;
    margin-right: 6%;
    margin-top: 5%;
    font-family: 'Style Script';
    font-style: normal;
    font-weight: 400;
    font-size: 12vw;
    line-height: 10vh;
    color: #68513F;
    transform: rotate(5.54deg);
  }

  .buttontolook {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    height: 8vh;
    width: 10vw;
    justify-self: center;
    margin-top: 8%;
    margin-left: 30%;
    background: #F1EBE7;
    font-family: Inter;
    border: #DACEC6 solid 1px;
    color: #68513F;
  }
.buttontolook:hover
{
    
  background-color: #68513F;
  color: #F5F5F5;
  cursor: pointer;
}
  /*Styles for 2 display*/

  .container_display2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100vh;
    margin-bottom: 30%;
  }

  .skincare_hands {
    display: grid;
    border-color: aqua;
    margin: 2%;
    padding: 2%;
  }

  .skincare_oil {
    display: grid;
    padding-left: 30%;
  }

  .skincare_title {
    display: grid;
    font-family: "STSong";
    font-style: normal;
    font-weight: 300;
    font-size: 4em;
    line-height: 1.5em;
    margin-top: 45%;
    text-align: center;
    color: #000000;
  }

  .skincare_header {
    display: grid;
    font-family: "Style Script";
    font-style: normal;
    font-weight: 400;
    font-size: 10em;
    line-height: 2%;
    text-align: center;
    color: #68513F;
    transform: rotate(-5.08deg);
    grid-row: 1/3;
  }

  .skincare_face {
      width: 30%;
      height: 25%;
      padding-top: 2%;
    }
  

  .skincare_tools {
    display: grid;
    margin-top: 10%;
    height: 10%;
    padding-left: 15%;
  }

  .skincare_body {
    grid-template-rows: 1fr 20%;
    grid-template-columns: 1fr;
    display: grid;
    justify-items: center;
  }

  .skincare_body_text {
    display: grid;
    grid-row: 1/2;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    color: #000000;
  }

  .skincare_button {
    width: 6vw;
    height: 3vw;
    border-radius: 3em;
    background: #F1EBE7;
    border: 0.2em solid #DACEC6;
    color: #68513F;
    font-size: 1vw;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-top: 1vh;
  }
.skincare_button:hover
{
    
  background-color: #68513F;
  color: #F5F5F5;
  cursor: pointer;
}
  .skincare_mask {
    padding-top: 5%;
  }
  /*Styles for 3 display*/


  .products {
    text-align: center;
    width: 35%;
    
  }
   /*Добавила маржин для фото ,чтобы по середине была*/
  .lady-cont{
    margin-left: 2vw;
      }
    /*добавила ширину для адаптивности*/
  .lady{
    width:100%;
  }
  .products-word {
    text-align: center;
    margin-top: 12vh;

  }

  .main-text {
    text-align: center;
    /*margin-top: 12vh;*/
    font-family: "STsong", serif;
    font-size: 4vw;
  }

  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5vw;
    width: 96%;
    margin-left: 2vw;


  }

  .cleanser {

    display: grid;
    grid-column: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr repeat(3, 0.5fr);
    font-family: "Inter", sans-serif;
    background: #E7DED8;
  }

  .cleanser__photo {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 0.8vw;
    margin-top: 0.8vw;
    width: 93%;

  }

  .cleanser__name {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: start;
    font-size: 1vw;
    margin-left: 1vw;
  }

  .cleanser__price {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 0.8vw;

  }

  .cleanser__text {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 1.2vw;
    margin-left: 1vw;
    margin-top: 0vh;

  }

  .cleanser__button {
    grid-column: 1/3;
    grid-row: 4/5;
    width: 93%;
    margin-left: 0.8vw;
    border-radius: 5px;
    background: #F1EBE7;
    border: 2px #DACEC6;
    font-family: "Inter", sans-serif;
    margin-bottom: 0.8vw;
    color: #68513F
  }
.cleanser__button:hover
{
    
  background-color: #68513F;
  color: #F5F5F5;
  cursor: pointer;
}
  .serums {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr repeat(3, 0.5fr);
    font-family: "Inter", sans-serif;
    background: #E7DED8;
  }

  .serums__photo {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 0.8vw;
    margin-top: 0.8vw;
    width: 93%;

  }

  .serums__name {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: start;
    font-size: 1vw;
    margin-left: 1vw;
  }

  .serums__price {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 0.8vw;

  }

  .serums__text {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 1.2vw;
    margin-left: 1vw;
    margin-top: 0vh;

  }

  .serums__button {
    grid-column: 1/3;
    grid-row: 4/5;
    width: 93%;
    margin-left: 0.8vw;
    border-radius: 5px;
    background: #F1EBE7;
    border: 2px #DACEC6;
    font-family: "Inter", sans-serif;
    margin-bottom: 0.8vw;
    color: #68513F
  }
.serums__button:hover
{
    
  background-color: #68513F;
  color: #F5F5F5;
  cursor: pointer;
}
  .bodywash {
    display: grid;
    grid-column: 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr repeat(3, 0.5fr);
    font-family: "Inter", sans-serif;
    background: #E7DED8;
  }

  .bodywash__photo {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 0.8vw;
    margin-top: 0.8vw;
    width: 93%;

  }

  .bodywash__name {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: start;
    font-size: 1vw;
    margin-left: 1vw;
  }

  .bodywash__price {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 0.8vw;

  }

  .bodywash__text {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 1.2vw;
    margin-left: 1vw;
    margin-top: 0vh;

  }

  .bodywash__button {
    grid-column: 1/3;
    grid-row: 4/5;
    width: 93%;
    margin-left: 0.8vw;
    border-radius: 5px;
    background: #F1EBE7;
    border: 2px #DACEC6;
    font-family: "Inter", sans-serif;
    margin-bottom: 0.8vw;
    color: #68513F
  }
.bodywash__button:hover
{
    
  background-color: #68513F;
  color: #F5F5F5;
  cursor: pointer;
}
  .nightcream {
    display: grid;
    grid-column: 4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr repeat(3, 0.5fr);
    font-family: "Inter", sans-serif;
    background: #E7DED8;
  }

  .nightcream__photo {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 0.8vw;
    margin-top: 0.8vw;
    width: 93%;

  }

  .nightcream__name {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: start;
    font-size: 1vw;
    margin-left: 1vw;
  }

  .nightcream__price {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 0.8vw;

  }

  .nightcream__text {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 1.2vw;
    margin-left: 1vw;
    margin-top: 0vh;

  }

  .nightcream__button {
    grid-column: 1/3;
    grid-row: 4/5;
    width: 93%;
    margin-left: 0.8vw;
    border-radius: 5px;
    background: #F1EBE7;
    border: 2px #DACEC6;
    font-family: "Inter", sans-serif;
    margin-bottom: 0.8vw;
    color: #68513F
  }
.nightcream__button:hover
{
    
  background-color: #68513F;
  color: #F5F5F5;
  cursor: pointer;
}

  /*Styles for 4 display*/

  .container_feature {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 10vh;
    margin-bottom: 70vh;
  
  }
  .feature_block{
  display: grid;
  grid-template-columns: 60% 40%;
  
  }
  .feature_1 {
    display: grid;
    padding-left: 2%;
  }
  
  .feature_1_image {
    padding-top: 15%;
    width: 90%;
    height: 80%;
  }
  
  .feature_2_title {
    display: grid;
    left: 50%;
    font-family: "Style Script";
    font-weight: 400;
    font-size: 10em;
    line-height: 2%;
    text-align: center;
    color: #68513F;
  }
  
  .feature_2_header {
  display: grid;
  left: calc(50%);
  font-family: 'STSong';
  font-style: normal;
  font-weight: 300;
font-size: 4em;
line-height:1.5em;
text-align: center;
  }
  
  .feature_2_body {
display: grid;
padding-left: 15%;
  width: 70%;
  height: 10%;
    left: 50%;
    top: 50%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
    color: #000000;
  }
  .feature_2_button{
  padding-left: 45%;
  padding-top: 5%;
  }
  .feature_2_button_1 {
    display: grid;
    width: 30%;
    height: 15%;
    padding: 3%;
    
    background-color: #F1EBE7;
    border-color: #DACEC6;
    color: #68513F;
    text-align: center;
  }
  .feature_2_button_1:hover {
    
      background-color: #68513F;
      color: #F5F5F5;
      cursor: pointer;
}
  .feature_3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 10%;
  }
  
  .feature_text {
    padding-left: 25%;
    height: 15%;
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    color: #000000;
  }
  
  .feature_images {
    padding-left: 30%;
    padding-top: 3%;
    
  }


  /*styles for 5 display*/

  /*styles for 5 display*/

  .container__blog {
    display: grid;
    max-height: 100vh;
    /*max-width: 98vw;*/
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5fr 2fr 2fr 1fr;
    background: white;
    grid-gap: 0.3em;
    /*justify-content: center;*/
    /*justify-content: space-between;*/
  }

  /*это три большие фотографии*/
  .blog__images {
    grid-row: 1/2;
    grid-column: 1/13;
    background: white;
    /* align-items: center;*/
    /*justify-content: space-between;*/
    margin-top: 4vh;
    margin-left: 0.2%;
    width: 98%;
    display: grid;
    gap: 0.1%;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    /*grid-template-columns: repeat((auto-fill, minmax 200px, 1fr))
      /*grid-template-columns: repeat((auto-fit, minmax 200px, 1fr));*/

  }

  /*блок 1 фото+квадрат+текст*/


  .blog__image1 {
    grid-row: 1/2;
    grid-column: 1/2;
    /*max-height: 74.8vh;
    max-width: 28vw;*/
    /*position: relative;*/
    width: 99.6%;
    height: 77.8%;
  }

  .rectangle1 {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    width: 40%;
    padding-left: 7vw;
    padding-top: 12vh;
    position: absolute;
  }

  .text1 {
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
    width: 40%;
    padding-left: 9.5vw;
    padding-top: 16vh;
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    position: absolute;

  }

  .blog__image2 {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 99.6%;
    /*max-height: 74.8vh;
    max-width: 36vw;
    /*position: relative;*/
  }

  .rectangle2 {
    grid-row: 1/2;
    grid-column: 2/3;
    z-index: 1;
    width: 40%;
    padding-left: 12vw;
    padding-top: 12vh;
    position: absolute;
  }

  .text2 {
    grid-row: 1/2;
    grid-column: 2/3;
    z-index: 1;
    width: 40%;
    padding-left: 14vw;
    padding-top: 16vh;
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    position: absolute;
  }

  /*блок 3 фото+квадрат+текст*/
  .blog__image3 {
    grid-row: 1/2;
    grid-column: 3/4;
    width: 99.6%;
    /*max-height: 74.8vh;
    max-width: 36vw;
    /*position: relative;*/
  }

  .rectangle3 {
    grid-row: 1/2;
    grid-column: 3/4;
    z-index: 1;
    width: 40%;
    padding-left: 10vw;
    padding-top: 12vh;
    position: absolute;

  }

  .text3 {
    grid-row: 1/2;
    grid-column: 3/4;
    z-index: 1;
    width: 40%;
    padding-left: 13vw;
    padding-top: 16vh;
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    position: absolute;

  }


  /*Фраза Skinn blog*/
  .blog__name {
    grid-row: 2/3;
    grid-column: 1/13;
    background: white;
    text-align: center;
    font-size: 4em;
    font-weight: 300;
    font-family: 'STSong', serif;
    margin-top: 1vh;
    max-height: 10vh;

  }

  /*та часть, где вместе маленткие фото 4 и 5, тексты и кнопки*/
  .blog__images-text-buttons {
    grid-row: 3/4;
    grid-column: 1/13;
    background: white;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.3em;
    margin-top: 6vh;
    margin-bottom: 2vh;
    margin-right: 2vw;
  }

  @font-face {
    font-family: 'STSong';
    src: url(./assets/fonts/stsong.ttf);
  }



  .img4-text4-button4 {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 49vw;
  

  }

  .skinn_blog__img4 {
    grid-row: 1/3;
    grid-column: 1/2;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .skinn_blog__text4 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 2em;
    font-weight: 300;
    font-family: 'STSong', serif;
    margin-top: 0vh;
    max-width: 19vw;
  }

  .button4 {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 10vw;
    height: 3vw;
    border-radius: 3em;
    background: #F1EBE7;
    border: 0.2em solid #DACEC6;
    color: #68513F;
    font-size: 1vw;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    margin-top: 2.5vh;
  }

.button4:hover
{
    
  background-color: #68513F;
  color: #F5F5F5;
  cursor: pointer;
}
  .img5-text5-button5 {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 49vw;

  }


  .skinn_blog__img5 {
    grid-row: 1/3;
    grid-column: 1/2;
    margin-left: 2vw;
    margin-right: 2vw;

  }

  .skinn_blog__text5 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 2em;
    font-weight: 300;
    font-family: 'STSong', serif;
    margin-top: 0vh;
    max-width: 19vw;

  }

  .button5 {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 10vw;
    height: 3vw;
    border-radius: 3em;
    background: #F1EBE7;
    border: 0.2em solid #DACEC6;
    color: #68513F;
    font-size: 1vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-top: 2.5vh;
  }
.button5:hover
{
    
  background-color: #68513F;
  color: #F5F5F5;
  cursor: pointer;
}
  /*styles for footer*/


  @font-face {
    font-family: STSong;
    src: url(fonts/chinese.stsong.ttf);
  }


  .maincontainer__footer {
    display: grid;
    width: 100%;
    height: 100vh;
    background: white;
    margin-top: 50vh;
    /*добавила отступ, иначе футер залазит на предыдущую страницу*/
    /*добавила побольше отступ*/
  }

  .container__footer {
    display: grid;
    grid-template-rows: 2fr repeat(7, 0.5fr) 2fr;
    width: 96%;
    /*увеличила ширину на 1%*/
    height: 40vh;
    justify-self: center;
    margin-top: 1em;
    background: #E7DED8;
    border-radius: 10px;
  }

  .logoname {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: 16%;
  }

  .titels__title1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'STSong', serif;
  }

  .titels__title2 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'STSong', serif;
  }

  .titels__title3 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'STSong', serif;
  }

  .text__logo {
    grid-row: 3 / 6;
    grid-column: 1 / 2;
    height: 59px;
    width: 160px;
    margin-left: 16%;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu00 {
    grid-row: 7 / 8;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_secondtext_bywebestica {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #68513F;
  }

  .text_menu0 {
    grid-row: 8 / 9;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-right: 2%;
    text-align: center;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_second_bywebflow {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #68513F;
  }

  .text_menu1 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu2 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu3 {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu4 {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu5 {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu6 {
    grid-row: 8 / 9;
    grid-column: 2 / 3;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu7 {
    grid-row: 9 / 10;
    grid-column: 2 / 3;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu8 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu9 {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu10 {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu11 {
    grid-row: 6 / 7;
    grid-column: 3 / 4;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu12 {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_secondtext_email {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #68513F;
  }

  .text_menu13 {
    grid-row: 6 / 7;
    grid-column: 4 / 5;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_secondtext_tel {
    grid-row: 7 / 8;
    grid-column: 4 / 5;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #68513F;
  }

  .text_menu14 {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .text_menu15 {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }

  .logos_social {
    grid-row: 7 / 8;
    grid-column: 5 / 6;
    display: grid;
    justify-items: start;
  }

  .logo_facebook {
    grid-column: 1 / 2;
  }

  .logo_insta {
    grid-column: 2 / 3;
  }

  .logo_pinterest {
    grid-column: 3 / 4;
  }

  .logo_twit {
    grid-column: 4 / 5;
  }


}