@media screen and (max-width:767px) {
    /*Styles for display 4*/
    .container_feature{
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-areas: "feature_1 "
                            "feature_2"
                            "feature_3 ";
   
        }
        .feature_1{
        grid-area: feature_1;
        padding-left: 2%;
        }
        .feature_1_image{
        padding-top: 5%;
        width: 100%;
        height: 100%;
        }
        .feature_2{
            grid-area: feature_2;
            
        }
        .feature_2_title{
        font-family: 'Style Script';
        font-weight: 200;
        font-size: 7em;
        line-height: 50px;
        text-align: center;
        color: #68513F;
        }
        .feature_2_header{
        font-family: 'STSong';
        font-style: normal;
        font-weight: 200;
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        color: #000000;
        padding-left: 10%;
        
        }
        
        .feature_2_body{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 31px;
        text-align: center;
        color: #000000;
        }
        
        .feature_2_button{
      display: none;
        }
            .feature_3{
                display: none;
                }
/*Styles for display2*/
                .container_display2 {
                    display: grid;
                    width: 100%;
                    height: 100vh;
                  }
              
              
                  .skincare_hands {
                    display: none;}
              
                  .skincare_oil {
                    display: none;
                  }
              
                  .skincare_title {
                    display: grid;
                    font-family: 'STSong';
                    font-style: normal;
                    font-weight: 200;
                    font-size: 3em;
                    line-height: 1em;
                    margin-top: 0%;
                    text-align: center;
                    color: #000000;
                  }
              
                  .skincare_header {
                    display: grid;
                    font-family: 'Style Script';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 8em;
                    line-height: 2%;
                    text-align: center;
                    color: #68513F;
                    transform: rotate(-5.08deg);
                    grid-row: 1/3;
              
                  }
              
                  .skincare_face {
                    display:grid;
                    padding-left: 25%;
                    padding-bottom: 15%;
                    height: 30vh;
                    width: 50vw;
                  }
              
                  .skincare_tools {
                    display: none;}
              
                  .skincare_body {
                    grid-template-rows: 1fr 20%;
                    grid-template-columns: 1fr;
                    display: grid;
                    justify-items: center;
                  }
              
                  .skincare_body_text {
                    display: grid;
                    grid-row: 1/2;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.5em;
                    line-height: 1em;
                    text-align: center;
                    color: #000000;
                  }
              
                  .skincare_button {
                    width: 10vw;
                    height: 7vw;
                    border-radius: 5em;
                    background: #F1EBE7;
                    border: 0.2em solid #DACEC6;
                    color: #68513F;
                    font-size: 1vw;
                    font-weight: 400;
                    font-family: 'Inter', sans-serif;
                    margin-top: 1vh;
                  }
              
                  .skincare_mask {
                  display: none;
              
              
                  }
                
}