@font-face {
    font-family : 'Inter';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
    }
    @font-face {
    font-family : 'Style Script';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/stylescript/v7/vm8xdRX3SV7Z0aPa88xzW5npeA.ttf) format('truetype');
    }
    @font-face {
    font-family : STSong;
    src : url(fonts/chinese.stsong.ttf);
    }
    @media screen and (min-width: 1024px) {
    .container {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr;
    grid-template-rows: repeat(8,1fr);
    background : #F5F5F5;
    width : 100vw;
    height : 100vh;
    }
    .imgface {
    grid-row : 1 / 9;
    grid-column : 2 / 4;
    max-width : 100%;
    max-height : 100vh;
    justify-self : end;
    margin-right : 5%;
    }
    .textpart1 {
    grid-row : 2 / 3;
    grid-column : 1 / 3;
    z-index : 1;
    margin-left : 25%;
    align-self : start;
    margin-top : 2%;
    font-family : 'STSong', serif;
    font-style : normal;
    font-weight : 300;
    font-size : 6vw;
    line-height : 10vh;
    }
    .textpart2 {
    grid-row : 4 / 5;
    grid-column : 1 / 3;
    z-index : 1;
    margin-left : 25%;
    margin-bottom : 5%;
    font-family : 'STSong', serif;
    font-style : normal;
    font-weight : 300;
    font-size : 6vw;
    line-height : 10vh;
    }
    .textpart3 {
    grid-row : 5 / 7;
    grid-column : 2 / 3;
    z-index : 1;
    text-align : center;
    margin-right : 6%;
    margin-top : 5%;
    font-family : 'Style Script';
    font-style : normal;
    font-weight : 400;
    font-size : 12vw;
    line-height : 10vh;
    color : #68513F;
    transform : rotate(5.54deg);
    }
    .buttontolook {
    grid-row : 5 / 6;
    grid-column : 1 / 2;
    height : 8vh;
    width : 10vw;
    justify-self : center;
    margin-top : 8%;
    margin-left : 30%;
    background : #F1EBE7;
    font-family : Inter;
    border : #DACEC6 solid 1px;
    color : #68513F;
    }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
    display : grid;
    grid-template-columns : 1fr;
    grid-template-rows: repeat(8,1fr);
    justify-items : center;
    background : #F5F5F5;
    width : 100vw;
    height : 100vh;
    }
    .imgface {
    grid-row : 1 / 4;
    grid-column : 1 / 2;
    max-width : 100vw;
    max-height : 40%;
    border-radius : 5%;
    }
    .textpart1 {
    grid-row : 4 / 5;
    grid-column : 1 / 2;
    text-align : center;
    font-family : 'STSong';
    font-style : normal;
    font-weight : 300;
    font-size : 6vw;
    line-height : 10vh;
    }
    .textpart2 {
    grid-row : 5 / 6;
    grid-column : 1 / 2;
    z-index : 1;
    text-align : center;
    font-family : 'STSong';
    font-style : normal;
    font-weight : 300;
    font-size : 6vw;
    line-height : 10vh;
    }
    .textpart3 {
    grid-row : 6 / 7;
    grid-column : 1 / 2;
    z-index : 1;
    text-align : center;
    font-family : 'Style Script';
    font-style : normal;
    font-weight : 400;
    font-size : 12vw;
    line-height : 10vh;
    color : #68513F;
    transform : rotate(5.54deg);
    }
    .buttontolook {
    grid-row : 7 / 8;
    grid-column : 1 / 2;
    height : 8vh;
    width : 50%;
    margin-left : 27%;
    text-align : center;
    background : #F1EBE7;
    border : #DACEC6 solid 1px;
    }
    }
    @media screen and (max-width: 767px) {
    .container {
    display : grid;
    grid-template-columns : 1fr;
    grid-template-rows: repeat(5,1fr);
    background : #F5F5F5;
    max-width : 100vw;
    max-height : 100%;
    }
    .imgface {
    grid-row : 1 / 5;
    grid-column : 1 / 2;
    max-width : 100%;
    max-height : 60vh;
    border-radius : 5%;
    }
    .textpart1 {
    grid-row : 2 / 3;
    grid-column : 1 / 2;
    z-index : 2;
    text-align : center;
    font-family : 'STSong';
    font-style : normal;
    font-weight : 300;
    font-size : 6vw;
    line-height : 10vh;
    }
    .textpart2 {
    grid-row : 3 / 4;
    grid-column : 1 / 2;
    z-index : 2;
    text-align : center;
    font-family : 'STSong';
    font-style : normal;
    font-weight : 300;
    font-size : 6vw;
    line-height : 10vh;
    }
    .textpart3 {
    grid-row : 4 / 5;
    grid-column : 1 / 2;
    z-index : 1;
    text-align : center;
    font-family : 'Style Script';
    font-style : normal;
    font-weight : 400;
    font-size : 12vw;
    line-height : 10vh;
    color : #68513F;
    transform : rotate(5.54deg);
    }
    .buttontolook {
    grid-row : 5 / 6;
    grid-column : 1 / 2;
    height : 8vh;
    width : 100%;
    text-align : center;
    background : #F1EBE7;
    border : #DACEC6 solid 1px;
    }
    }
